<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465196584764-eiqn93bh1kf0ibaqsdugeqnpnaq5dp4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465196584764-eiqn93bh1kf0ibaqsdugeqnpnaq5dp4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465196584764-pqostadol8psdlj403kgnorv198pb9be.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbW6-D95cPKG5gqs3hZc-RIriK2crXY0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>465196584764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeCapsule</string>
	<key>PROJECT_ID</key>
	<string>time-capsule-5ecb5</string>
	<key>STORAGE_BUCKET</key>
	<string>time-capsule-5ecb5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465196584764:ios:5521b69c99c26ce4d29839</string>
</dict>
</plist>